.mejs-container {
	position: relative;
	min-width:150px;
	background: none;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
	margin: 0 auto;
}
.mejs-mediaelement {
	position: absolute;
	top: 2px;
	left: 20px;
	width: 100%;
	height: 100%;
}
.mejs-poster {
	position: absolute;
	top: 0;
	left: 0;
	overflow:hidden;
}

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background: rgba(29, 28, 36, 0.71);	
	list-style: none;
}

.mejs-audio .mejs-controls{
	left: 19px;
	top: 1px;
	border: 1px solid #554c4c;
}

.mejs-container .mejs-controls  div {
	list-style-type: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 30px;
	font-size: 11px;
	line-height: 11px;
	font-family: sans-serif;
	background: url(sep.png) left no-repeat;
	border: 0;
}

.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
	margin: 7px 7px 0 9px;
	padding: 0;
	position: absolute;
	height: 16px;
	width: 16px;
	border: 0;
	background: transparent url(controls.png) no-repeat;
}

/* :focus for accessibility */
.mejs-controls .mejs-button button:focus {
	outline: none;
}

.mejs-controls div.mejs-time-rail {
	width: 200px;
}
.mejs-controls .mejs-time-rail span {
	display: block;
	position: absolute;
	width: 180px;
	height: 5px;
	cursor: pointer;
	margin: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
	margin: 11px 8px 0 10px;
	background: #262929;
	border: #3d3f40 1px solid;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering {
	width:100%;
	background:#464849;
	background-image: -webkit-linear-gradient(-45deg, #464849 25%, #262929 25%, #262929 50%, #464849 50%, #464849 75%, #262929 75%, #262929);
	background-image: -moz-linear-gradient(-45deg, #464849 25%, #262929 25%, #262929 50%, #464849 50%, #464849 75%, #262929 75%, #262929);
	background-image: -o-linear-gradient(-45deg, #464849 25%, #262929 25%, #262929 50%, #464849 50%, #464849 75%, #262929 75%, #262929);
	background-image: -ms-linear-gradient(-45deg, #464849 25%, #262929 25%, #262929 50%, #464849 50%, #464849 75%, #262929 75%, #262929);
	background-image: linear-gradient(-45deg, #464849 25%, #262929 25%, #262929 50%, #464849 50%, #464849 75%, #262929 75%, #262929);
	-moz-background-size: 6px 6px;
	background-size: 6px 5px;
	-webkit-background-size: 6px 5px;
	-webkit-animation: buffering-stripes 2s linear infinite;
	-moz-animation: buffering-stripes 2s linear infinite;
	-ms-animation: buffering-stripes 2s linear infinite;
	-o-animation: buffering-stripes 2s linear infinite;
	animation: buffering-stripes 2s linear infinite;
	z-index: 1;
}

@-webkit-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-moz-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-ms-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-o-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #464849;
	width: 0;
	z-index:1;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	background: #FFFFFF;
	-moz-background-size: 6px 6px;
	background-size: 6px 6px;
	-webkit-background-size: 6px 5px;
	z-index: 1;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
	display: none;
	position: absolute;
	margin: 0;
	width: 5px;
	background: transparent;
	cursor: pointer;
	top: 1px;
	z-index: 1;
	text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 36px;
	height: 17px;
	border-radius: 4px;
	top: -26px;
	margin-left: -18px;
	text-align: center;
	color: #111;
	border: solid 1px white;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin: 3px;
	width: 30px;
	display: block;
	text-align: center;
	left: 0;
	font-size: 10px;
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	border: solid 4px #C2C8CF;
	border-color: #C2C8CF transparent transparent transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: 17px;
	left: 13px;

}


/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute button {
	background-position:-16px -16px;
}

.mejs-controls .mejs-volume-button {
	position: relative;
}

.mejs-controls .mejs-volume-button:hover {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}


/* horizontal version */

.mejs-controls div.mejs-horizontal-volume-slider {
	height: 26px;
	width: 62px;
	position: relative;
	background:none;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	position: absolute;
	left: 0;
	top: 11px;
	width: 50px;
	height: 3px;
	margin: 0;
	padding: 1px;
	font-size: 1px;
	background: #293636;
	border: #3d3f40 1px solid;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	left: 1px;
	top: 12px;
	width: 50px;
	height: 5px;
	padding: 0;
	font-size: 1px;
	background: #FFFFFF;
	-moz-background-size: 6px 6px;
	background-size: 6px 6px;
	-webkit-background-size: 6px 5px;
}


.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	display: none;
}

/* End: Mute/Volume */


.mejs-clear {
	clear: both;
}
